*.zip
*~
lampshade-three-graces-straight/lampshade-three-graces-straight.stl
lampshade-three-graces-straight/lampshade-three-graces-straight-26.stl
lampshade-three-graces-straight/ItsLitho_three-graces-straight-26.stl
